// Here defined your own colors :
@text_color: #2B2B2B;
@background_color: #3B3B3B;
@header_background_color: #3B3B3B;
@header_foreground_color: #EBEBEB;
@footer_background_color: #3B3B3B;
@footer_foreground_color: #EBEBEB;
@page_foreground_color:#3B3B3B;
@list_block_foreground_color: #6B6B6B;
@first_color: #5CDB46;
@second_color:#7B7B7B;
@link_color: #5351FF;
@link_color_hover: #3534B9;
@light_color_add: #303030;
@light_color:#A7A7A7;

// Here defined your font :
@family_title: "Titillium Web", Arial, Helvetica, sans-serif;
@family_default: "Titillium Web", Arial, Helvetica, sans-serif;
@default_size: 16px;
@line_height: 1.5em;

// Here is the border :
@default_border: 1px solid @second_color;
@list_block_border_radius: 2px;
@list_block_box_shadow: 0px 0px 2px @second_color;
@list_block_box_shadow_hover: 0px 0px 5px @first_color;

// Usual functions :
.transition_duration(@duration){
	-moz-transition-duration: @duration;
	-webkit-transition-duration: @duration;
	-o-transition-duration: @duration;
}
.page_gradient(){
	background: rgb(202,202,202);
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2NhY2FjYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmY2ZjZmMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(202,202,202,1) 0%, rgba(252,252,252,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(202,202,202,1)), color-stop(100%,rgba(252,252,252,1)));
	background: -webkit-linear-gradient(top,  rgba(202,202,202,1) 0%,rgba(252,252,252,1) 100%);
	background: -o-linear-gradient(top,  rgba(202,202,202,1) 0%,rgba(252,252,252,1) 100%);
	background: -ms-linear-gradient(top,  rgba(202,202,202,1) 0%,rgba(252,252,252,1) 100%);
	background: linear-gradient(to bottom,  rgba(202,202,202,1) 0%,rgba(252,252,252,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cacaca', endColorstr='#fcfcfc',GradientType=0 );
}
.list_block_gradient(){
	background: rgb(252,252,252);
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmY2ZjZmMiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZGJkYmRiIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZjZmNmYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9yYWRpYWxHcmFkaWVudD4KICA8cmVjdCB4PSItNTAiIHk9Ii01MCIgd2lkdGg9IjEwMSIgaGVpZ2h0PSIxMDEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
	background: -moz-radial-gradient(center, ellipse cover,  rgba(252,252,252,1) 0%, rgba(219,219,219,1) 100%, rgba(252,252,252,1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(252,252,252,1)), color-stop(100%,rgba(219,219,219,1)), color-stop(100%,rgba(252,252,252,1)));
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(252,252,252,1) 0%,rgba(219,219,219,1) 100%,rgba(252,252,252,1) 100%);
	background: -o-radial-gradient(center, ellipse cover,  rgba(252,252,252,1) 0%,rgba(219,219,219,1) 100%,rgba(252,252,252,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover,  rgba(252,252,252,1) 0%,rgba(219,219,219,1) 100%,rgba(252,252,252,1) 100%);
	background: radial-gradient(ellipse at center,  rgba(252,252,252,1) 0%,rgba(219,219,219,1) 100%,rgba(252,252,252,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#fcfcfc',GradientType=1 );
}

/**
 * Basic typographic style. Just refined some basic rules for a cool and soft typography
 */
body{font-family: @family_default; font-size: @default_size; line-height: @line_height; background-color: @background_color; color: @text_color;}
p,ul,blockquote{ margin-bottom: 1.5em; }
h1, h2, h3, h4, h5, h6{ font-family: @family_title; font-weight:bold; margin-bottom: 24px; }
h1{ font-size: 2em; }
h2{ font-size: 1.6em; }
h3{ font-size: 1.4em; }
h4{ font-size: 1.2em; }
h5{ font-size: 1.1em; }
h6{ font-size: 1em; }
strong{ font-weight: bold; }
em{ font-style: italic;}
cite{ color: (@text_color + @light_color_add); font-style: italic;}
blockquote{margin-left: 20px;border-left: 5px solid @light_color;padding-left: 10px;color: (@text_color + @light_color_add); font-style: italic;}
ul{list-style-type: disc;list-style-position: inside;}
a{ text-decoration: none; color: @link_color; }a:hover{color: @link_color_hover;text-decoration: none;}

/**
 * Here defined the semantic component style like wrap, pagination ...
 * TODO : Merge to bootstrap semantic
 */
.pagination{margin-top:5px;margin-bottom: 5px;padding:5px;text-align:center;}
.wrap{width: 960px;height: auto;overflow:hidden;margin:auto;@media screen and (max-width:960px){ width: auto; overflow: auto;}}
.center{text-align:center;}
.center_block{margin:auto;}
.sidebar_left{float:left;}
.sidebar_right{float:right;}
.pad_display{display:none;}
.mobile_display{display:none;}
.padmobile_display{display:none;}
@media screen and (max-width:940px) and (min-width:500px){.pad_display{display:block;}.padmobile_display{display:block;}}
@media screen and (max-width:500px){.mobile_display{display:block;}.padmobile_display{display:block;}}


/**
 * STYLE :
 */

// Header style definition :
header{
	background-color:@header_background_color;
	color: @header_foreground_color;
	.smart_border{
		height:4px;
		background-color:@first_color;
		margin-bottom: 10px;
		width:100%;
	}
	#logo{
		display:block;
		float:left;
		width:200px;
		height:100px; 
		background-image:url('../images/design/logo.png');
		background-repeat: no-repeat;
		cursor:pointer;
		@media screen and (max-width:960px){
			float:none;
			margin:auto;
		}
	}
	#menu{
		@media screen and (max-width:500px){
			display:none;
		}
		ul{
			list-style: none;
			overflow:hidden;
			margin-bottom:0px;
			@media screen and (max-width:960px) and (min-width:500px){
				width:auto;
				margin:auto;
				text-align:center;
				li{
					display:inline;
				}
			}
		}
		ul li a{
			.transition_duration(0.2s);
			display:block;
			padding-top:60px;
			padding-right:30px;
			float:left;
			color:inherit;
			@media screen and (max-width:960px) and (min-width:500px){
				padding-top: 5px;
				float:none;
				display:inline;
			}
		}ul li a:hover{
			.transition_duration(0.2s);
			color:@first_color;
		}
		.sub_menu{
			display:none;
			background-color:rgba(240, 240, 240, 0.8);
			width:180px;
			height:auto;
			position:absolute;
			border-radius:2px;
			box-shadow: 0px 0px 5px #272727;
			a{
				margin-bottom:2px;
				margin-top:2px;
				padding-top:5px;
				padding-right:0px;
				float:none;
				padding-bottom:2px;
				text-align:center;
			}a:hover{
				background-color:rgba(100, 100, 100, 0.5);
				color:white;
			}
			@media screen and (max-width:960px) and (min-width:500px){
				li a{
					display:block;
				}
			}
		}
	}
	#log_block{
		width:auto;
		position:absolute;
		top:5px;
		right:5px;
		@media screen and (max-width:960px){
			position:relative;
			top:0px;
			text-align:right;
			p {
				margin-bottom:5px;
			}
		}
		a{
			color: @first_color;
		}a:hover{
			.transition_duration(0.2s);
			color:(@first_color + #303030);
		}
	}
	#mobile_menu{
		select{
			width:100%;
		}
	}
}

// Page style defintion :
#page{
	width:100%;
	color:@page_foreground_color;
	min-height:400px;
	.page_gradient();
}

// Page title
.page_title{
	text-align:center;
	margin-top:10px;
}

// Content style definition
#content{
	padding-top:20px;
	.log_image{
		width:100px;
		height:100px;
		background-image:url('../images/design/icons/login.png');
		background-repeat: no-repeat;
		margin:auto;
		margin-bottom:5px;
		margin-top:10px;
	}
	#menu{
		width:340px;
		overflow:hidden;
		margin:auto;
		height:auto;
		ul{
			list-style:none;
			overflow:auto;
			li a{
				display:block;
				float:left;
				width:150px;
				height:50px;
				cursor:pointer;
				background-position: center top;
				background-repeat: no-repeat;
				color:#BBBBBB;
				padding-top:100px;
				text-align:center;
			}li a:hover{
				color:#2B2B2B;
			}
			li .menu_page{
				background-image:url('../images/menu_page.png');
				margin-right:40px;
			}li .menu_page:hover{
				background-image:url('../images/menu_page_hover.png');
			}
			li .menu_menu{
				background-image:url('../images/menu_menu.png');
			}li .menu_menu:hover{
				background-image:url('../images/menu_menu_hover.png');
			}
		}
	}
}

// Admin panel (in the panel root page, quick access block)
.admin_panel{
	text-align:center;
	margin-bottom:20px;
	.entry{
		.transition_duration(0.5s);
		color:#868686;
		display:inline-block;
		vertical-align: top;
		width:200px;
		text-align:center;
		opacity:0.8;
		cursor:pointer;
		padding-left:10px;
		padding-right:10px;
		border-bottom: 3px solid @second_color;
		@media screen and (max-width:500px){
			display:block;
			padding:5px;
			margin:auto;
		}
		h3{
			margin-bottom:15px;
		}
		p{
			text-align:justify;
			font-size:0.8em;
		}
	}.entry:hover{
		.transition_duration(0.5s);
		opacity:1;
		border-bottom: 3px solid @first_color;
	}
}

// Footer style definitions
footer{
	width:100%;
	height:auto;
	font-size:0.8em;
	text-align:center;
	background-color:@footer_background_color;
	color:@footer_foreground_color;
	a{
		color:@first_color;
	}
	a:hover{
		color:(@first_color + #303030);
	}
}

// Somesemantic style :
.bordered_bottom{
	border-bottom: @default_border;
}
.add_panel{
	text-align:center;
	margin-bottom:10px;
}

// Block list style definitions
.list_block{

	border-radius: @list_block_border_radius;
	color:@list_block_foreground_color;
	.list_block_gradient();
	margin:5px;
	box-shadow: @list_block_box_shadow;
	.transition_duration(0.5s);
	h2{
		margin:5px;
	}
	.sidebar_left{
		margin-left:10px;
		@media screen and (max-width:500px){
			float:none;
		}
	}
	@media screen and (max-width:500px){
		.preview_img{
			display:none;
		}
	}
	.details{
		border-left: 3px solid @second_color;
		padding-left: 10px;
		@media screen and (max-width:500px){
			border:none;
			padding:0;
		}
	}
	.list_block_content{
		overflow:hidden;
	}
	.action{
		text-align:center;
		.btn{
			margin:10px;
		}
	}
}
.list_block:hover{
	.transition_duration(0.5s);
	box-shadow: @list_block_box_shadow_hover;
}

// Forms definitions :
form{
	text-align:center;
	table{
		margin:auto;
		text-align:left;
		td{
			padding: 5px;
			vertical-align:middle;
		}
		td label{
			padding-right: 10px;
		}
	}
	.image_uploader{
		min-width:400px;
		min-height:400px;
		text-align:center;
		border:3px dashed @second_color;
		padding:5px;
		.uploader{
			margin-top:230px;
		}
		.image_preview{
			display:block;
			max-width:400px;
			max-height:400px;
			margin:auto;
			margin-top:10px;
			margin-bottom:10px;
			box-shadow:0px 0px 2px #484848;
		}
		.hidden_input{
			display:none;
		}
		@media screen and (max-width:500px){
			min-width:200px;
			min-height:200px;
			max-width:200px;
			max-height:200px;
			.image_preview{
				max-width:190px;
				max-height:190px;
			}
			.uploader{
				margin-top: 110px;
			}
		}
	}
}